@import 'libs/bootstrap-reboot.min';
@import 'libs/font';

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

h1, h2, ul, p {
    margin-bottom: 0;
}

@import 'blocks/information';
@import 'blocks/work';
@import 'blocks/education';
@import 'blocks/languages';
@import 'blocks/footer';