.information {
    padding-top: 20px;
    &__wrapper {
        display: flex;
    }
    &__photo {
        img {
            width: 300px;
            height: 400px;
            object-fit: cover;
        }
    }
    &__dscr {
        margin-left: 40px;
    }
    &__subtitle {
        font-weight: 700;
    }
    &__link {
        text-decoration: none;
        color: black;
    }
    &__title {
        margin-top: 50px;
        font-weight: 700;
        font-size: 24px;
    }    
    &__text {
        margin-top: 20px;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
    }    
}