.languages {    
    padding-bottom: 20px;
    &__title {
        margin-top: 20px;
        font-weight: 700;
        font-size: 36px;
        font-size: 24px;
    }
    &__text {
        margin-top: 20px;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
    }    
}